{{>header-fluid}}

{{>default-hero}}

    <div class="container">

    <section>
      <h1>Contact</h1>
    </section>

    <section>
      <form>
        <div class="form-group">
          <label for="exampleFormControlInput1">Your Email Address</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Reason For Contact</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>General Question</option>
            <option>Team Meetings</option>
            <option>Sponsorhip</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Your Message</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Send Message</button>
      </form>
    </section>

  {{>footer}}
