		{{>header-fluid}}

		{{>default-hero}}

			<div class="container">
				<section>
					<h1>Welcome!</h1>
					<p>
						We are the KSU Solar Vehicle Team, a non-profit student organization
						at Kennesaw State University dedicated to designing, building, and
						racing solar-powered cars. Our solar cars run solely on solar power.
					</p>
					<p>
						Our team consists of students from diverse engineering disciplines,
						to business and marketing. Every member's unique background allows
						us to analyze problems from different perspectives as we collaborate
						to find the most efficient approach to developing our solar-powered
						vehicle.
					</p>
				</section>

		{{>footer}}
