  {{>header-fluid}}

  {{>default-hero}}

  <div class="container">
    <section>
      <h1>Our Sponsors</h1>
      <p>
        Here is a list of all our current sponsors that are generously supporting
        our team.
      </p>
    </section>


    <section>
      <h3>Platinum Sponsors</h3>
      <div class="row">
      </div>
    </section>

    <section>
      <h3>Gold Sponsors</h3>
      <div class="row">
        <div class="col-4">
          <h3 class="text-center"><i class="far fa-handshake fa-2x"></i></h3>
          <h5 class="text-center">Solidworks&reg;</h5>
          <p>Generously supporting our team.</p>
        </div>
      </div>
    </section>

    <section>
      <h3>Silver Sponsors</h3>
      <div class="row"></div>
    </section>

    <section>
      <h3>Bronze Sponsors</h3>
      <div class="row"></div>
    </section>

    <section>
      <h3>Supporter Sponsors</h3>
      <div class="row"></div>
    </section>

  {{>footer}}
